<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348871011517-0g9eti5g07q2smrfj9vbl52s3bvesg3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348871011517-0g9eti5g07q2smrfj9vbl52s3bvesg3m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>348871011517-6r9k4ai50nm10bhkp19h50kh6nhp3d5e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCjE6fppb1vYnFmoAoEAewIWxNjfecWYCA</string>
	<key>GCM_SENDER_ID</key>
	<string>348871011517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.beam.fans.ios</string>
	<key>PROJECT_ID</key>
	<string>dev-sunny-side</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-sunny-side.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348871011517:ios:766783b3361a694eba5bd4</string>
</dict>
</plist>